@import '../../../../share/assets/scss/variables.scss';

.drink-item {
  @apply block text-center items-center cursor-pointer w-full rounded-lg duration-200;

  &__image {
    @apply flex justify-center items-center;
  }

  &__name {
    @apply mb-[10px] truncate w-full;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__price {
    @apply text-grey-1
  }
}
