@import '../../../../share/assets/scss/variables.scss';

.drink-item {
  @apply flex flex-col justify-center text-center items-center cursor-pointer w-full rounded-lg duration-200;

  &__name {
    @apply mb-[10px] truncate w-full;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__price {
    @apply text-grey-1;
  }
}
