@import '../../share/assets/scss/variables.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.block-input {
  display: flex;
  flex-direction: row;
  width: 440px;
  position: relative;
  border-radius: 50px;
  background-color: $grey-4-color;
  font-size: 16px;

  &--white {
    background-color: $white-color;
  }

  &:focus-within {
    outline: 1px solid rgb(202, 195, 195);
  }

  input {
    background-color: inherit;
    border-radius: 50px;
    width: 440px;
    margin: 0;
    border: none;
    text-indent: 5%;
  }

  input:focus {
    outline: none;
  }

  img {
    position: relative;
    margin: 15px 27px 15px 0;
  }
}

.login-input {
  margin-bottom: 24px;
  height: 56px;
  flex: 1;
  background-color: $white-color;

  img {
    width: 22.5px;
    height: 22.5px;
  }
}
