@import '../../share/assets/scss/variables.scss';
.toggle {
  cursor: pointer;
}
.input-field {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  flex-direction: row;

  input {
    flex: 1;
    background-color: $white-color;
    border-radius: 50px;
    width: 440px;
    height: 56px;
    border: none;
    text-indent: 5%;
    font-size: 16px;

    &:focus-within {
      outline: 1px solid rgb(202, 195, 195);
    }
  }

  img {
    width: 22.5px;
    height: 22.5px;
    position: absolute;
    top: calc(85% - 60px / 2);
    right: 20px;
  }
}
.error {
  color: $customer-error;
  margin-left: 10px;
  padding-bottom: 20px;
}
.forget-password {
  color: $customer-error;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.submit-btn {
  height: 56px;
  width: 100%;
  border-radius: 50px;
  border-style: none;
  background-color: $accent-color;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  color: $white-color;
  margin-top: 40px;
}
