@import '../../share/assets/scss/variables.scss';

button:hover {
  color: $black-color;
}

@mixin theme($shadow-color, $color) {
  box-shadow: 0px 4px 12px $shadow-color;
  margin: 12px 0px;
  color: $color;
}

.btn {
  height: 56px;
  width: 100%;
  border-radius: 50px;
  border-style: none;
  background-color: $white-color;
  font-size: 16px;
  line-height: 21px;

  &-primary {
    @include theme(rgba(189, 15, 114, 0.3), $white-color);
  }

  &-secondary {
    @include theme(rgba(7, 7, 7, 0.12), $black-color);
    &:hover {
      background-color: $grey-4-color;
    }
  }

  &--enabled {
    background-color: $accent-color;
  }

  &--disabled {
    background-color: $accent-third-color;
  }

  &-login {
    width: 120px;
    height: 48px;
    padding: 14px 16px;
    background-color: $accent-color;
  }

  &-logout {
    width: 453px;
  }
}
