.order-item {
  @apply w-full;

  &__name {
    @apply w-full font-bold text-2.5 mb-0.5 truncate;
  }

  &__desc {
    @apply w-full mb-0.5 truncate;
  }

  &__note {
    @apply w-full truncate;
  }

  &__contain {
    @apply flex flex-row justify-between mt-1.25;

    &-left {
      @apply items-start pr-1.5;
    }

    &-center {
      @apply flex flex-col justify-center items-start w-full truncate;
    }

    &-right {
      width: 48px;
      height: 48px;
    }

    &-icon {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}


