@import '../../../../share/assets/scss/variables';

.order-item {
  width: 100%;

  &__name {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__desc {
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__note {
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    &-left {
      align-items: flex-start;
      padding-right: 20px;
    }

    &-center {
      margin-top: 10px;
      width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }

    &-right {
      align-items: flex-end;
      align-content: flex-end;
    }

    &-icon {
      margin-top: 20px;
      width: 48px;
      height: 48px;
      background-color: $white-color;
      border-radius: 50%;
    }

  }
}

.edit-icon {
  margin-top: 15px;
  margin-left: 15px;
}
