.category-item {
  border: none;
  width: 200px;
  height: 50px;
  padding: 14px 44px 13px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.25px;
  margin-bottom: 32px;
  margin-left: 40px;
}

.category-item:first-child {
  margin-top: 60px;
}

.category-item.active {
  border: 1px solid #f499c1;
  box-sizing: border-box;
  border-radius: 50px;
  color: #d50f67;
  background-color: #fff3f9;
}
