@import '../../share/assets/scss/variables.scss';

.toast-container {
  @apply fixed top-5 right-1 w-1/4 h-4 rounded-lg flex text-white;

  &__symbol {
    @apply w-1.5 h-1.5 m-1;
  }

  &__message {
    @apply my-1.5;
  }
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
