.iconExit {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 35px;
  right: 35px;
}

.background-color {
  background-color: #fff !important;
}

.ta-center {
  text-align: center;
}

.mt-100 {
  margin-top: 100px;
}

.mt-115 {
  margin-top: 60px;
}
