@import '../../share/assets/scss/variables.scss';

.popup-detail {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--blur {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    @include background-blur;
  }

  &__exit {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  &__drink-item {
    position: absolute;
    top: 5%;
  }

  &__input-group {
    position: absolute;
    top: 50%;
  }

  &__input {
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__button {
    width: 90%;
    position: absolute;
    top: 85%;
  }
}
