@import '../../../../share/assets/scss/variables.scss';

.category-item {
  border: none;
  width: 240px;
  height: 50px;
  padding: 14px 20px 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.25px;
  margin-bottom: 32px;
  margin-left: 30px;
  cursor: pointer;

  &:first-child {
    margin-top: 60px;
  }
}

.active {
  border: 1px solid $accent-third-color;
  box-sizing: border-box;
  border-radius: 50px;
  color: $accent-color;
  background-color: $primary-color;
}
