@import '../../share/assets/scss/variables.scss';

.toggle {
  cursor: pointer;
}

.input-field-staff {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  flex-direction: row;

  img {
    width: 22.5px;
    height: 22.5px;
    position: absolute;
    top: calc(85% - 60px / 2);
    right: 20px;
  }
}
.staff-input {
  flex: 1;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  border: 1px solid $grey;
  text-indent: 5%;
  font-size: 16px;

  &:focus-within {
    outline: 1px solid rgb(202, 195, 195);
  }
}
.error {
  color: $customer-error;
  margin-left: 10px;
  padding-bottom: 20px;
}

.forget-password {
  color: $customer-error;
  text-align: right;
  margin-top: 40px;
  cursor: pointer;
}

.staff-login-btn {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  border-style: none;
  background-color: $accent-color;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  color: $white-color;
  margin-top: 40px;
}
