@import '../../share/assets/scss/variables.scss';

.toast-notification {
  @apply h-8 w-fit py-3 px-3 rounded-[8px] fixed z-20;

  &--success {
    background-color: $green;
    box-shadow: $box-shadow-vendor-success;
  }
  &--failure {
    background-color: $error-color;
    box-shadow: $box-shadow-vendor-fail;
  }
  &--top-center {
    transition: transform 0.6s ease-in-out;
    animation: TopToBottom 0.7s;
    transform: translateX(-50%);
    @apply top-[36px] left-[50%];
  }
}

.toast-container {
  @apply h-4 flex flex-row items-center;

  &__icon {
    @apply w-4 h-4 mr-3;
  }
  &__message {
    font-family: Proxima Nova;
    color: $white-color;
    @apply font-semibold not-italic leading-[21px] text-[18px] text-center tracking-[0.15px] w-fit;
  }
}
@keyframes TopToBottom {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 36px;
    opacity: 1;
  }
}
