@import '../../share/assets/scss/variables.scss';

.card {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  padding: 120px 20px 20px;
  border: none;
  box-sizing: border-box !important;
  justify-content: space-between !important;
}

.center {
  left: calc(50% - 480px / 2);
  top: calc(50% - 772px / 2);
  height: 85.7%;
  width: 480px;
  background-color: $grey-4-color;
}

.right {
  top: 0;
  right: 0;
  height: 100%;
  width: 480px;
  background-color: $grey-4-color;
}

.shadow {
  box-shadow: 0px 4px 12px rgba(7, 7, 7, 0.12);
}

.border {
  border-radius: 1rem !important;
}

.content-center {
  align-items: center;
  justify-content: center !important;
}
