@import '../../share/assets/scss/variables.scss';

.card {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px;
  border: none;
  box-sizing: border-box !important;
  justify-content: space-between !important;
  z-index: 1;
}

.center {
  position: relative;
  left: 35%;
  top: 50%;
  height: 85.7%;
  width: 480px;
  background-color: $grey-4-color;
  padding-top: 60px;
}

.right {
  position: fixed !important;
  top: 0;
  right: 0;
  height: 100%;
  width: 480px;
  padding-top: 80px;
  background-color: $grey-4-color;
}

.shadow {
  box-shadow: 0px 4px 12px rgba(7, 7, 7, 0.12);
}

.border {
  border-radius: 1rem !important;
}

.content-center {
  align-items: center;
  justify-content: center !important;
}
