@import '../../share/assets/scss/variables.scss';

.card-confirm-order {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__exit {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px !important;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-top: -15px;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
  }

  &__button {
    width: 440px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 676px;
  }
}
