@import '../../share/assets/scss/variables.scss';

.coming-soon-page {
  width: 100%;
  height: 900px;
}

.coming-soon-component {
  background-color: $brown-color;
  width: 100%;
  height: 100%;
}

.border--none {
  border: none;
}
