@import '../../share/assets/scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 20px;
  width: 100%;
  background-color: $white-color;
  position: sticky;
  top: 0;

  &--grey {
    background-color: $grey-4-color;
  }

  &__logo {
    height: inherit;
    margin: 12.45px 0 12.45px 20px;
    cursor: pointer;
  }

  &__search-block {
    position: relative;
    min-width: 440px;
  }

  &__button {
    display: flex;

    &-toggle {
      background-color: inherit;
      margin-right: 30px;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      &:focus {
        outline: none;
      }
      transition: all 0.5s ease;
    }
  }
}

.search-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 440px;
  border-radius: 8px;
  padding: 12px;
  overflow-y: auto;
  max-height: 544px;
  background-color: $grey-4-color;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $black-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-4-color;
    border-radius: 20px;
    border: 3px solid $black-color;
  }
}
.mt-15 {
  margin-top: 15px;
}
