@import '../../../../share/assets/scss/variables';

.card-login-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $grey-4-color;

  &__exit {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  &__description {
    width: 280px;
    height: 22px;
    position: absolute;
    left: calc(50% - 280px / 2);
    top: calc(25% - 22px / 2);
  }
}

.mt-100 {
  margin-top: 100px;
}
