@import '../../share/assets/scss/variables.scss';

.error-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &__img {
    object-fit: cover;
    position: absolute;
    left: calc(50% - 500px / 2);
    top: calc(50% - 500px / 2);
  }

  &__title {
    width: 190px;
    height: 30px;
    position: absolute;
    left: calc(50% - 190px / 2);
    top: calc(75% - 30px / 2);
  }

  &__button {
    width: 440px !important;
    height: 56px !important;
    padding: 18px 16px 17px;
    position: absolute;
    left: calc(50% - 440px / 2);
    top: calc(90% - 56px / 2);
  }
}
