@import '../../share/assets/scss/variables.scss';

.wrapper-page {
  background-color: inherit;
  width: 100%;
  height: 100vh;

  &--filter {
    filter: blur(5px);
  }

  &__container {
    width: auto;
    height: auto;
  }

  &__footer {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
