@import '../../share/assets/scss/variables.scss';

.wrapper-page {
  background-color: $grey-4-color;
}
.wrapper-page--filter {
  filter: blur(20px);
}

.wrapper-page__container {
  min-height: 100vh;
}

.wrapper-page__footer {
  position: relative;
  left: 0;
  bottom: 0;
}
