// color
$primary-color: #fff2e7;
$secondary-color: #153913;
$accent-color: #d50f67;
$accent-secondary-color: #ed619f;
$accent-third-color: #f499c1;
$white-color: #ffffff;
$black-color: #333333;
$brown-color: #502f13;
$grey-4-color: #f2f2f2;
$grey: #999999;
$black: #333333;
$border-color: #cccccc;
$green: #499E3B;
$customer-error: #E51616;
@mixin background-blur {
  background: rgba(51, 51, 51, 0.3);
  backdrop-filter: blur(5px);
}
